<div class="home">
      <div class="header"><h1 class="title">Welcome to TS-App</h1>
            <p class="subtitle">Full Stack Application to mimic E-Commerce Functionality</p>
            <p class="description">TS-App provides a powerful backend infrastructure to create Users, Products or Orders.</p>
      </div>
      <div class="menu-links">
            <ul>
                  <li data-text="Products"><a type="submit" color="primary" (click)="products()">Products</a></li>
                  <li data-text="Orders"><a type="submit" color="primary" (click)="orders()">Orders</a></li>
                  <li data-text="Users"><a type="submit" color="primary" (click)="users()">Users</a></li>
            </ul>
      </div>
</div>