table {
    border-collapse: collapse;
    width: 100%;
    max-height: 400px; /* Set the maximum height for the table here */
    overflow-y: auto; /* Add a vertical scrollbar if the content overflows the max height */
  }
/*
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }*/